/* Making Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --dark: #101010;
  --secondary: #2e2e2e;
  --light: #ffffff;
  --primary: #007bff;
}

/* Body Style */

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark);
}

/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, purple, blue);
  border-radius: 2px;
}

/* Custom Classes */
.text-success {
  color: rgb(0, 255, 0);
}

.text-danger {
  color: rgb(255, 105, 105);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* App Wrapper Style */
.app-wrapper {
  min-height: 100svh;
  max-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.app-wrapper::before {
  position: absolute;
  content: "";
  height: 150px;
  width: 100%;
  top: 0;
  left: 0;
  background: url(../images/App_background.jpg) center center/cover no-repeat;
  z-index: -1;
}

/* Heading Styling */
.app-heading {
  position: absolute;
  top: 50px;
  color: var(--light);
  text-transform: uppercase;
  font-size: larger;
}

/* container style */
.container {
  margin-top: 125px;
  width: 60%;
}

/* Input field style */

#task-input {
  height: 52px;
  border: none;
  outline: none;
  width: 80%;
  padding: 0 16px;
  font-size: 1.4rem;
  background-color: var(--secondary);
  border-radius: 6px 0px 0px 6px;
  color: var(--light);
}

/* Submit Button Style */
#submit-btn {
  padding: 10px;
  background: linear-gradient(to right, rgb(199, 0, 199), rgb(96, 96, 255));
  color: var(--light);
  border-radius: 0px 6px 6px 0px;
  height: 52px;
  width: 20%;
  border: 2px solid var(--secondary);
  outline: none;
}

/* To DO List Style */
.to-do-list {
  margin-top: 1rem;
  list-style: none;
}

/* List Item Style */
.to-do-list .list-item {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light);
  margin-top: 4px;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 8px;
  user-select: none;
  position: relative;
}

/* Tools Icons Style */
.list-item .item-tools i {
  margin: 4px;
  cursor: pointer;
}

/* Class For Task Completed */
.task-done {
  background-color: rgb(0, 118, 0) !important;
}

/* Media Query */
@media screen and (max-width: 680px) {
  .container {
    width: 80%;
  }
}
